* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f7ff;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}

.horizontal-menu {
    width: 100%;
    background-color: #defff4;
    padding: 10px 0;
    text-align: center;
}

.horizontal-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem; /* Espaciado entre los elementos */
}

.horizontal-list li a {
    text-decoration: none;
    color: #080101;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.horizontal-list li a:hover {
    background-color: #4645a0;
}

.list-icon {
    width: 20px; /* Ajusta el tamaño del ícono a 16px */
    height: 20px;
    margin-right: 2px; /* Espaciado entre el ícono y el texto */
    vertical-align: middle; /* Alinea la imagen al centro del texto */
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center; /* Centra el buscador horizontalmente */
    margin-bottom: 10px; /* Espacio entre el buscador y el contenido siguiente */
    padding-top: 10px; /* Espacio desde el borde superior */
}

.search-input {
    width: auto; /* Ancho del campo de búsqueda */
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
    transform: translateX(-50px);
}

.search-button {
    padding: 0.5rem 1rem;
    background-color: #008c73; /* Color de fondo del botón */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transform: translateX(-10px);
}

.containers {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
    padding-bottom: 20px;
}
.container-left {
    width: 300px; /* Fijo para la parte izquierda */
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.container-center {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 20px;
    max-height: 600px; /* Tamaño máximo para el contenedor */
    overflow-y: auto; /* Habilita el scroll cuando se sobrepase el límite */
}
.container-center img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.pie {
    background-image: url("/Ing Software/images/footer_bg.jpg");
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.pie p {
    margin: 0;
    font-size: 14px;
}
